<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="__BS__/css/bootstrap.min.css">  
	<script src="__BS__/js/jquery.min.js"></script>
	<script src="__BS__/js/bootstrap.min.js"></script>
</head>
<body>
	<div style="padding:2%">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#">分类管理</a></li>
			<li><a href="{:url('index/typeAdd')}">添加分类</a></li>
		</ul>
		<p>
			<a href="" class="btn btn-primary pull-right"> 刷新</a>
		</p>
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th>ID</th>
		      <th>分类名称</th>
		      <th width="100px">操作</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{volist name="list" id="vo"}
			    <tr>
			      <td>{$vo.id}</td>
			      <td>{$vo.type}</td>
			      <td>
			      	<a href="{:url('index/typeEdit',['id'=>$vo.id])}" class="btn btn-xs btn-warning">编辑</a>
			      	<a href="{:url('index/typeDel',['id'=>$vo.id])}" class="btn btn-xs btn-danger">删除</a>
			      </td>
			    </tr>
		    {/volist}
		  </tbody>
		</table>
		{$page}
	</div>
</body>
</html>