<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>用户登录</title>
	<link rel="stylesheet" href="__BS__/css/bootstrap.min.css">  
	<script src="__BS__/js/jquery.min.js"></script>
	<script src="__BS__/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
	body{
        background:url(__HEAD__/images/timg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
	}
</style>
<body>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4" style="margin-top: 10%;background-color:#fff;padding:20px 60px;">
			<h2 class="text-center">系统登录</h2>
			<!-- <p class="pull-right"><a href="{:url('login/zhuce')}"> 还没有账号？ 去注册  ></a></p> -->
			<div class="clearfix"></div>
			<form class="form-horizontal" role="form" action="{:url('login/login')}" method="post">
				<div class="form-group">
					<label for="firstname" class="control-label">账号</label>
				</div>
				<div class="form-group">
					<div class="">
						<input type="text" class="form-control" id="firstname" 
							   placeholder="请输入账号" name="username">
					</div>
				</div>
				<div class="form-group">
					<label for="lastname" class="control-label">密码</label>
				</div>
				<div class="form-group">
					<div class="">
						<input type="password" class="form-control" id="lastname" 
							   placeholder="请输入密码" name="password">
					</div>
				</div>
				<div class="form-group">
					<label for="firstname" class="control-label" >验证码</label>
				</div>
				<div class="form-group">
				    
				    <div class="">
				    	<div class="col-sm-5" style="padding: 0">
			  				<input display: inline;" class="form-control col-sm-10" name="code" type="text" required="required" placeholder="验证码">
			  			</div>
			  			<div class="col-sm-7">
							<img src="{:captcha_src()}" style="width: 100%" onclick="this.src='{:captcha_src()}?'+Math.random();"/>
							<a href="###" style="font-size:6px;" onclick="dj(this)">看不清，换一张</a>
			  			</div>
			  	    </div>			
				  		
				</div>


				<div class="form-group">
					<div class="">
						<button type="submit" class="btn btn-primary" style="width:100%;">登录</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

</body>
<script>
	function dj(obj){
		$(obj).parent().find('img').click();
	}
</script>
</html>